<ion-header class="ion-no-border border-bottom-gray">
  <ion-toolbar>
    <ion-title style="font-size: 1rem;">Filter by</ion-title>
    <ion-button slot="end" size="small" color="danger" class="text-normal text-bold" (click)="dismiss()" style="margin-right: 15px;"> Close </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="cover-filter-page">

  <div class="main-filter-page">
    <div class="filter-menu border-right">
      <div class="filter-menu-item border-bottom {{ tabs.categories ? 'active' : '' }}" (click)="selectFilter('categories')">
        Categories
      </div>
      
      <div class="filter-menu-item border-bottom {{ tabs.price ? 'active' : '' }}" (click)="selectFilter('price')">
        Price
      </div>
    </div>
    <div class="filter-content">

      <div *ngIf="tabs.categories" class="filter-content-item">
        <div class="list-item border-bottom {{ item.isChecked ? 'active' : '' }}" *ngFor="let item of productService.categories; let i = index" (click)="setFilter(i, 'categories')">
          {{ item?.category }} <ion-icon *ngIf="item.isChecked" name="checkmark-outline"></ion-icon>
        </div>
        
      </div>

      <div *ngIf="tabs.price" class="filter-content-item">
        <div class="list-item border-bottom" style="justify-content: center; padding: 5px 0px;">
          <div class="price-box">
            <p class="price-text">From</p>
            <p class="price-input">$<input type="text" [(ngModel)]="productService.priceRange.lower" (change)="price_input()"></p>
            <p class="price-text">to</p>
            <p class="price-input">$<input type="text" [(ngModel)]="productService.priceRange.upper" (change)="price_input()"></p>
          </div>
        </div>

        <div class="list-item border-bottom">
          <ion-range debounce="100" color="danger" dualKnobs="true" pin="true" step="1" min="0" max="100" (ionChange)="price_range($event)" [value]="productService.priceRange" class="ion-no-padding"></ion-range>
        </div>
      </div>
    </div>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button color="danger" class="text-normal text-bold default-btn btn-link" (click)="clearFilter()"> Clear all </ion-button>
    
    <ion-button color="danger" slot="end" class="text-normal" (click)="applyFilter()" style="margin-right: 15px;"> Apply </ion-button>
  </ion-toolbar>
</ion-footer>
