.result-label {
    width: 100%;
    padding-top: 10px;
    text-align: center;
    position: absolute;
    z-index: 10;
}

.result-label span {
	padding: 5px 8px;
	background: rgba(0,0,0,1);
	color: white;
	border-radius: 20px;
    font-size: 0.8rem;
}

.noitem{
    text-align: center;
    color: #b2b2b2;
    width: 100%;
    img{
        width: 100px;
        margin-top: 50px;
    }
    h1 {
        font-size: 1rem;
    }
}